
  page-home {
    ion-card {
      text-align: center;
      box-shadow: none!important;
      border: none;
      
      .button-inner{
        display: block;
      }
    }

    ion-icon{
      text-shadow: 0px 0px 0px;
      color: $button-text-color!important;
    }
    .button-md, .button-ios{
      height: auto!important;
      font-weight: 200;
      text-transform: inherit;
    }

    .card-title {
      top: 36%;
      font-size: 2em;
      width: 100%;
      font-weight: bold;
      color: #000000;
    }

    .card-subtitle {
      font-size: 1em!important;
      font-weight: 200;
      text-transform: inherit;
      top: 52%;
      width: 100%;
      color: #000000;
    }
    .tile {
      text-align: center;
      padding: 15px;
      background: white; //TODO -> change/adjust to percivable/clickable button
    }

    

    content-drawer {
      background-color: $base-color !important;
    }

    content-drawer .content {
      padding: 20px;
      background: #fff;
    }
  }