page-newsandevents {
    // .item-md p{
    //     margin: 0 0 2px;
    //     overflow: inherit;
    //     font-size: 1.4rem;
    //     line-height: normal;
    //     text-overflow: inherit;
    //     color: #666;
    // }

    ion-label{
        // white-space: normal;
    }

    .date-posted{
        position: absolute;
        top: 10px;
        right: 15px;
    }


    .item-md h3{
        margin: 2px 0;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: normal;
    }

    .item-md h3{
        margin: 2px 0;
        font-size: 1.6rem;
        font-weight: normal;
     }

}
